API_PORT=8081
FRONTEND_ORIGIN=http://localhost:3000
POSTGRES_DB=practice
POSTGRES_USER=practice
POSTGRES_PASSWORD=
POSTGRES_PORT=5434
REDIS_PORT=6380
SMTP_PORT=1025
MAIL_UI_PORT=8025
MINIO_ROOT_USER=practice-minio
MINIO_ROOT_PASSWORD=
OBJECT_API_PORT=9000
OBJECT_CONSOLE_PORT=9001
